/* Global */

html, body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

h2, h4 {
    font-size: 2rem;
    font-family: 'Yantramanav', sans-serif;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;  
    margin-top: 4rem;
    text-align: center;
    padding: 10px 40px;
    width: 11rem;
    align-self: flex-start;
    line-height: 1;
}

h2 {
    background-color: white;
    color: #4A4A4B;
}

h4 {
    background-color: #F2994A;
    color: white;
}

h3 {
    background-color: #4A4A4B;
    color: white;
    padding: 10px 40px;
    align-self: flex-end;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;    
    font-size: 2rem;
    font-family: 'Yantramanav', sans-serif;
    text-align: center;
}

/* Global Panel/Content Setup */

.panel{
    min-width: 100%;
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: -250%;
    position: absolute;
    /* z-index: 2; */
    -webkit-transition: all .8s linear;
    -moz-transition: all .8s linear;
    -o-transition: all .8s linear;
    transition: all .8s ease-in-out;
}

.panel:target{
    margin-top: 0%;
}

.content {
    position: absolute;
    /* padding-bottom: 2rem; */
  }

#home-section, #projects-section {
    background-color: #F2994A;
}

#about-section, #contact-section {
    background-color: #4A4A4B;
}

/* Home Section */

.panel-one {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.home {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    }

h2, h3 {
        -vendor-animation-duration: 3s;
        animation-duration: 3s;
        -vendor-animation-delay: 5s;
        animation-delay: 5s;
}
img {
    width: 100%;
    height: 50%;
    padding: 2rem 0rem;
}

img:hover {
        -webkit-animation: tada 2s;
        animation: tada 2s;
}

/* About Section */
.about {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    color: white;
    line-height: 1.5;
}

.about p {
    margin: 2rem;
}

.about ul {
    margin: 2rem;
    line-height: 3;
    text-align: center;
    padding-bottom: 2rem;
}

.about ul li:nth-child(odd) {
    color: white;
}

.about ul li:nth-child(even) {
    color: #F2994A;
}

.fa-file-pdf-o {
    text-align: center;
    color: white;
}

.fa-file-pdf-o span {
    font-size: 1.5rem;
    padding-left: 1rem;
    font-family: 'Montserrat', sans-serif;
}

/* Project Section */

.project {
    color: black;
    background-color: white;
    font-size: 1.2rem;
    margin: 2rem;
    line-height: 1.5;
    border-radius: 25px;
    padding: 1rem;
}

.projects {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.projects h3 {
    margin: 4rem 0rem 1rem 0rem;
}

.projects h5 {
    font-weight: bold;
    padding-bottom: 1rem;
    text-decoration-line: underline;
}

.project p {
    line-height: 2;
    font-size: 1.2rem;
}
  
/* Contact Section */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

form {
    padding-top: 1rem;
    line-height: .5;
}
form p {
    padding: 1rem;
    color: white;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

button[type=submit] {
    background-color: rgb(224, 218, 218);
    border: none;
    border-radius: 10px;
    color: #4A4A4B;
    padding: 10px 20px;
    text-decoration: none;
    margin: 0 auto;
    cursor: pointer;
    font-size: 1rem;
    display: block;
}

button:hover {
    background-color: #F2994A;
    color: white;
}

.fa {
    padding: 2rem 2rem;
}
.fa-github-square {
    color: white;
}

.fa-linkedin-square, .fa-twitter-square {
    color: #F2994A;
}

i:hover {
    font-size: 4.2rem;
    text-shadow: 0 0 15px rgb(7, 7, 7);

}



/* Navigation */

#footer{
    display: flex;
    position: absolute;
    z-index: 2000;
    width: 100vw;
    top: 90vh;
    height: 10vh;
    bottom: 0;
}

#navigation {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    list-style:none;
    /* z-index:3; */
}

#navigation li {
    padding: 0px 20px;
}

#navigation a{
    display: inline-block;
    background: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

#navigation a:hover {
    background: #ddd;
}  

#home-section:target ~ #footer #navigation #link-home, #about-section:target ~ #footer #navigation{
    background: #4A4A4B}

#about-section:target ~ #footer #navigation #link-about, #home-section:target ~ #footer #navigation{
    background: #F2994A}

#projects-section:target ~ #footer #navigation #link-projects, #contact-section:target ~ #footer #navigation{
    background: #4A4A4B}

#contact-section:target ~ #footer #navigation #link-contact, #projects-section:target ~ #footer #navigation{
    background-color: #F2994A}


/* Media Queries */
  
  @media only screen and (max-width:1024px) {

   
  }
  
  @media only screen and (min-width:1024px) {
   h2, h3, h4 {
       font-size: 4rem;
       width: 30rem;
   }

   .desktop {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
   }

   .contact .desktop {
       flex-direction: row;
       justify-content: space-between;
   }
   .about h4 {
       display: block;
   }

   #navigation li {
    padding: 0px 40px;
    }

    .icons {
    display: flex;
    flex-direction: column;
    }

  }